@import "functions.scss";
@import "reset.scss";

@include keyframes(waveform) {
	0%, 100% {
		@include transform(scaleY(1.2));
	}
	50% {
		@include transform(scaleY(0.4));
	}
}

@include keyframes(waveform-dinamic) {
	0%, 100% {
		background-color: #2e1bd6;
		box-shadow: 0 0 8px 0 #2e1bd6;
		@include transform(scaleY(1.2));
	}
	50% {
		background-color: #14d444;
		box-shadow: 0 0 4px 0 #14d444;
		@include transform(scaleY(0.4));
	}
}

@include keyframes(pulse) {
	0% {
		@include box-shadow(0 0 0 0 rgba(0,0,0,.2));
	}
	100% {
		@include box-shadow(0 0 0 1rem rgba(0,0,0,0));
	}
}



.container {
	width: 100vw;
	max-width: 1600px;
	min-height: 100vh;
	max-height: 100vh;
	@include display-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	letter-spacing: 2px;
	font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 24px;
	color: #0d0d0f;
	text-transform: uppercase;
	@include user-select(none);
}

.music-player {
	$size: 8rem;
	$radius: 10px;

	$bg-color: #0d0d0f;
	$font-color: #f1eaea;

	pointer-events: none;
	width: calc(#{$size} * 4);
	max-height: $size;
	@include display-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
	font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	text-transform: initial;
	@include user-select(none);
	@include transform(scale(2));
	@include transition(filter 200ms);

	&:not(.show) {
		@include filter(opacity(0));
	}

	&.show {
		@include filter(opacity(1));
	}

	&:not(.paused) .waveform {
		animation-name: waveform;
	}

	&.dinamic .waveform {
		animation-name: waveform-dinamic;
	}

	&.no-shadow {
		& .music-cover,
		& .music-infos {
			@include box-shadow(0 0 0 0 transparent);
		}
	}

	&.square {
		& .music-cover,
		& .music-infos {@include border-radius(2px)}
	}

	& .music-cover,
	& .music-infos {
		@include border-radius($radius);
		background-color: rgba($bg-color,.9);
		color: $font-color;
		@include backdrop-filter(blur(8px));
		@include box-shadow(6px 6px 2px 0 rgba(0,0,0,.6))
	}

	& .music-cover {
		flex: 1 0 $size;
		display: block;
		overflow: hidden;
		margin-right: 1rem;

		& > figure {
			height: 0;
			padding-top: 100%;
			overflow: hidden;
			position: relative;

			& > img {
				width: 100%;
				height: 100%;
				display: block;
				@include object-fit(cover);
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}

	& .music-infos {
		flex: 2 0 calc(100% - (#{$size} - 1rem));
		@include display-flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-around;
		overflow: hidden;
		padding: 20px 10px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		position: relative;

		& .music-cover-blur:not(.hidden) {
			z-index: -1;
			width: 100%;
			height: 100%;
			@include filter(blur(10px) brightness(33%) opacity(.9));
			@include transform(translate(-50%, -50%) scale(2));
			position: absolute;
			left: 50%;
			top: 50%;
		}

		& .music-info-mask {
			width: 100%;
			display: block;
			overflow: hidden;
			padding: 0 4px;
			@include mask-image(linear-gradient(90deg, transparent 0%, white 6px,white calc(100% - 10px), transparent 100%));
		}

		& #music-title,
		& #music-artist {
			min-height: 2rem;
			display: block;
			line-height: 100%;
			white-space: nowrap;
			@include transition(transform 1s linear);
		}

		& #music-title {
			letter-spacing: 1px;
			font-weight: 600;
			font-size: 1.25rem;
		}

		& #music-artist {
			font-weight: 500;
			font-size: 1.2rem;
		}

		& .music-progress {
			width: 100%;
			display: block;
			padding: 0 4px;

			& .music-progress-values {
				min-height: 2rem;
				@include display-flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
			}

			& .music-progress-bar {
				flex: 1 0;
				height: 10px;
				overflow: hidden;
				@include border-radius(50px);
				background-color: rgba(0,0,0,.9);
				@include backdrop-filter(blur(8px));

				&.amazon > * { background-color: #0077C1; }
				&.apple > * { background-color: #fc3c44; }
				&.spotify > * { background-color: #1db954; }
				&.youtube > * { background-color: #FF0033; }

				& > * {
					min-width: 0%;
					max-width: 100%;
					height: 100%;
					display: block;
					@include border-radius(50px);
					background-color: $font-color;
					@include transition(width .5s ease);
				}
			}

			& #music-time-elapsed,
			& #music-time-total {
				width: 3rem;
				height: 1rem;
				line-height: 1rem;
				display: block;
				letter-spacing: 2px;
				font-weight: 400;
				font-size: 1rem;
			}
		}

		& .music-waveforms {
			width: 100%;
			@include display-flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			& .waveform {
				flex: 0 1 4px;
				height: 1rem;
				display: block;
				@include border-radius(50px);
				background-color: $font-color;
				box-shadow: 0 0 1px 0 $font-color;
				animation-direction: alternate;
				animation-iteration-count: infinite;
				@include transform(scaleY(1));

				@for $i from 0 through 42 {
					&:nth-child(#{$i}) {
						animation-duration: 1s;
						animation-delay: ($i * 0.2s);
					}
				}

				&:not(:last-child) {
					margin-right: 5px;
				}
			}
		}
	}
}