@use "global.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes roll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -20px; 
  }
}

/* ********************************************************
    Variables
******************************************************** */
$border-radius: 10px !default;

/* ********************************************************
    Base
******************************************************** */
:root {
  --background-color: #{hexToRGB($light-pallete-1st)};
  --foreground-color: #{hexToRGB($light-pallete-2nd)};

  --font-primary-color: #{hexToRGB($dark-pallete-1st)};
  --font-secondary-color: #{hexToRGB($dark-pallete-2nd)};
  --font-tertiary-color: #{hexToRGB($dark-pallete-3rd)};

  @media (prefers-color-scheme: dark) {
    --background-color: #{hexToRGB($dark-pallete-2nd)};
    --foreground-color: #{hexToRGB($dark-pallete-1st)};

    --font-primary-color: #{hexToRGB($light-pallete-1st)};
    --font-secondary-color: #{hexToRGB($light-pallete-2nd)};
    --font-tertiary-color: #{hexToRGB($light-pallete-3rd)};
  }
}

.dashboard_page {
  font-family: Montserrat, $fonts !important;
  font-size: 1rem;
  color: rgb(var(--font-primary-color));

  &::before {
    content: "";
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background-color));
    background-image:
      linear-gradient(to right, rgba(var(--font-tertiary-color),0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(var(--font-tertiary-color),0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    animation: roll 3s linear infinite;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.panel {
  & :disabled,
  & .disabled {
    cursor: not-allowed;
    filter: opacity(0.1);
  }

  & h1,
  & h2,
  & h3 {
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
  }

  & a {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    transition: color 120ms ease-out;

    &:hover {
      color: $info-color;
    }
  }

  & code {
    padding: 4px 8px;
    border-radius: 6px;
    background-color: rgba(var(--font-secondary-color), 0.05);
    font-family: inherit;
    font-size: 85%;
    white-space: break-spaces;
    @include user-select(text);
  }

  & ul {
    list-style-type: decimal;
  }

  & ol {
    list-style-type: disc;
  }

  & ul,
  & ol {
    padding-right: 1rem;
    margin-left: 2rem;
    margin-top: 10px;

    & li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

/* ********************************************************
    Dashboard
******************************************************** */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.dashboard_page {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.middle {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 100%;
  max-width: 560px;
  display: block;
  margin: 2rem auto;
  padding: 2rem 0;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: rgb(var(--foreground-color));
  white-space: normal;
  word-wrap: break-word;
  line-height: 2rem;
  font-size: 1.25rem;
  color: rgb(var(--font-primary-color));
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  @include user-select(none);

  & .panel_content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;

    &.centered {
      text-align: center;
    }
  }

  .platform_logo {
    max-width: calc(100% - 10rem);
    max-height: 6rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  .user_select_valid {
    cursor: text;
    @include user-select(text);
  }

  .input_text {
    display: block;
    padding: 1rem 0;
    border: 1px solid rgba(var(--font-tertiary-color), 0.6);
    background-color: rgba(var(--font-tertiary-color), 0.05);
    border-radius: $border-radius;
    font-weight: 300;
    color: rgb(var(--font-primary-color));
    text-align: center;
    text-overflow: ellipsis;
    border-radius: $border-radius;

    @mixin placeholder {
      color: rgb(var(--font-primary-color));
    }

    &:not(:focus):hover {
      background-color: rgba(var(--font-tertiary-color), 0.1);
    }

    &:focus {
      border-color: $info-color;
    }

    &.compact {
      margin: 6px 1rem;
      padding: 6px 0;
    }

    &.full {
      width: 100%;
      margin: 1rem 0;
    }
  }

  .btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;

    &.column {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .btn {
        width: 100%;
      }
    }

    &.centered {
      justify-content: center;
    }
  }

  .btn {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $dark-color;
    font-weight: 500;
    color: $light-color;
    @include user-select(none);
    transition: all 100ms ease;

    &:hover {
      background-color: $info-color;
    }

    &:disabled {
      pointer-events: none;
      background-color: $dark-pallete-4th;
      color: $light-pallete-4th;
    }

    &:not(:disabled):hover {
      cursor: pointer;
    }

    &:not(:disabled):active {
      transform: scale(0.9);
    }

    &.success:not(:disabled):hover {
      background-color: $success-color;
    }

    &.ytm:not(:disabled):hover {
      background-color: $youtube-color;
    }
    &.spotify:not(:disabled):hover {
      background-color: $spotify-color;
    }
    &.apple:not(:disabled):hover {
      background-color: $apple-color;
    }
  }
}
