@use "global.scss" as *;
@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

/* ********************************************************
    Animations
******************************************************** */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ********************************************************
    Variables
******************************************************** */
$size: 8rem !default;
$radius: 10px !default;

/* ********************************************************
    Base
******************************************************** */
.music_player_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  letter-spacing: 2px;
  font-family: $fonts !important;
  font-weight: 800;
  font-size: 2rem;
  color: #0d0d0f;
  text-transform: uppercase;
  @include user-select(none);
}

/* Music/Player ------------------------------------------ */
.music_album_blur_container {
  position: absolute;
  inset: 0;

  & > * {
    position: absolute;
    inset: 0;
  }

  &:not(.hidden) {
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    position: absolute;
    inset: 0;

    & img {
      object-fit: cover;
    }

    & .music_album_art {
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: blur(10px) brightness(33%);
      opacity: 0.9;
      transform: translate(-50%, -50%) scale(2);
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}

.music_platform_icon {
  z-index: 4;
  width: 24px;
  overflow: hidden;
  position: absolute !important;
  bottom: 5px;
  left: 5px;
  inset: 0;

  & > figure {
    height: 0;
    border-radius: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    & > img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 100%;
      object-fit: cover;
      animation-name: fade-in;
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

#music_title,
#music_artist {
  height: 2rem;
  display: block;
  line-height: 120%;
  padding: 0 2px;
  white-space: nowrap !important;
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  transition: transform 1s linear;
}

.music_info_mask {
  width: 100%;
  min-height: 1rem;
  display: block;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent 0%, white 2px, white calc(100% - 2rem), transparent 100%);
  mask-image: linear-gradient(90deg, transparent 0%, white 2px, white calc(100% - 2rem), transparent 100%);
  text-overflow: ellipsis;
}

.music_progress_bar {
  z-index: -1;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  & .music_progress_bar_fill {
    z-index: -1;
    min-width: 0%;
    max-width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(var(--text-color));
    transition: width 100ms linear;
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* ********************************************************
    Player
******************************************************** */
.music_player,
.music_player_compact {
  --scale: 2;
  --background-color: #{hexToRGB($dark-color)};
  --background-pallete-2nd: #{hexToRGB($dark-pallete-1st)};
  --text-color: #{hexToRGB($light-color)};
  --text-pallete-2nd: #{hexToRGB($light-pallete-3rd)};
  --accent-color: #{hexToRGB($light-pallete-2nd)};

  @media (max-width: 1200px) {
    --scale: 1.4;
  }

  @media (max-width: 900px) {
    --scale: 1.2;
  }

  @media (max-width: 700px) {
    --scale: 1;
  }

  pointer-events: none;
  width: calc(100% - #{$size});
  height: #{$size};
  font-family: "Noto Sans Display", $fonts;
  font-weight: 400;
  font-size: 1rem;
  transform: scale(var(--scale));
  transform-origin: center center;
  text-transform: initial;
  @include user-select(none);
  transition:
    background-color 500ms ease,
    color 500ms ease,
    transform 120ms ease-in-out,
    filter 240ms ease;

  &.is_preview {
    --scale: 1.33;
  }

  &.light {
    --background-color: #{hexToRGB($light-pallete-2nd)};
    --background-pallete-2nd: #{hexToRGB($light-color)};
    --text-color: #{hexToRGB($dark-color)};
    --text-pallete-2nd: #{hexToRGB($dark-pallete-3rd)};
    --accent-color: #{hexToRGB($dark-pallete-2nd)};
  }

  &.transparent {
    --background-color: transparent !important;
    --background-pallete-2nd: transparent !important;
    --text-color: #{hexToRGB($light-color)};
    --text-pallete-2nd: #{hexToRGB($light-pallete-2nd)};
    --accent-color: #{hexToRGB($light-pallete-3rd)};

    &.dark_text {
      --text-color: #{hexToRGB($dark-pallete-1st)};
      --text-pallete-2nd: #{hexToRGB($dark-pallete-2nd)};
      --accent-color: #{hexToRGB($dark-color)};
    }

    @include backdrop-filter(none !important);
    box-shadow: 0 0 0 transparent !important;

    & .music_album_art,
    & .player_content {
      @include backdrop-filter(none !important);
      box-shadow: 0 0 0 transparent !important;
    }
  }

  &.vibrant,
  &.light {
    text-shadow: 0 0 0 transparent !important;
  }

  &:not(.show) {
    opacity: 0;
  }

  &.show {
    opacity: 1;

    &.paused {
      filter: opacity(0.8);
      opacity: 0.8;
    }
  }

  & .player_content {
    transition:
      background-color 500ms ease,
      color 500ms ease,
      filter 360ms ease;
  }

  & .music_infos {
    &.centered {
      & #music_title,
      & #music_artist {
        text-align: center;
      }
    }

    & #music_title {
      font-weight: 600;
    }

    & #music_artist {
      font-weight: 500;
    }
  }
}

/* Full ------------------------------------------ */
.music_player {
  max-width: calc(#{$size} * 4);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &.inverted {
    flex-direction: row-reverse;
  }

  &.alternative,
  &.vertical {
    gap: 10px;
    overflow: hidden;
    padding: 12px;
    border-radius: $radius;
    background-color: rgba(var(--background-color), 0.9);
    color: rgb(var(--text-color));
    @include backdrop-filter(blur(8px));
    box-shadow: 6px 6px 2px 0 rgba(0, 0, 0, 0.6);

    &.square {
      border-radius: 2px;

      & .music_album_art {
        border-radius: 2px;
      }
    }

    &.no_shadow {
      box-shadow: 0 0 0 0 transparent;
    }

    & .music_album_art {
      flex-basis: #{calc($size - 2rem)};
      border-radius: #{calc($radius / 2)};
    }

    & .player_content {
      padding: 14px 0;
    }
  }

  &.vertical {
    width: 100%;
    max-width: #{calc($size * 2)};
    height: auto;
    max-height: #{calc($size * 3)};
    flex-direction: column;
    justify-content: stretch;
    align-items: normal;

    & .music_platform_icon {
      width: 2rem;
    }

    &.inverted {
      flex-direction: column-reverse;
    }

    & .music_album_art {
      flex: 0 1 auto;
    }

    & .player_content {
      flex: 0 1 auto;
      padding: 0;
      border-radius: 0;
    }
  }

  &:not(.paused) .waveform {
    animation-name: waveform;
  }

  &:not(.alternative, .vertical).no_shadow {
    & .music_album_art,
    & .player_content {
      box-shadow: 0 0 0 0 transparent;
    }
  }

  &.square {
    & .music_album_art,
    & .player_content {
      border-radius: 2px;
    }

    & .waveform {
      border-radius: 1px;
    }

    & .music_progress_bar {
      --radius: 2px !important;
    }
  }

  & .music_album_art,
  & .player_content {
    border-radius: $radius;
  }

  &:not(.alternative, .vertical) .music_album_art,
  &:not(.alternative, .vertical) .player_content {
    background-color: rgba(var(--background-color), 0.9);
    color: rgb(var(--text-color));
    @include backdrop-filter(blur(8px));
    box-shadow: 6px 6px 2px 0 rgba(0, 0, 0, 0.6);
  }

  & .music_album_art {
    flex: 1 0 #{$size};
    display: block;
    overflow: hidden;
    position: relative;

    @media (max-width: 500px) {
      display: none;
    }

    & figure {
      height: 0;
      padding-top: 100%;
      overflow: hidden;
      position: relative;

      & > img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        animation-name: fade-in;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        position: absolute;
        left: 0;
        top: 0;

        &.old,
        &.new {
          transition: opacity 500ms ease;
        }

        &.old {
          opacity: 0;
        }

        &.new {
          opacity: 1;
        }
      }
    }
  }

  & .music_infos {
    flex: 1 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    & #music_title {
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 1.25rem;
    }

    & #music_artist {
      font-weight: 500;
      font-size: 1.2rem;
      color: rgb(var(--text-pallete-2nd));
    }
  }

  & .player_content {
    flex: 1 0 calc(100% - #{$size});
    height: #{$size};
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 4px;
    padding: 14px;
    overflow: hidden;
    position: relative;

    & .music_platform_icon {
      left: initial;
      right: 10px;
      top: 10px;
    }

    & .music_time_values {
      flex: 1 0;
      height: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      &.left,
      &.right,
      &.centered {
        gap: 14px;

        & #music_time_elapsed::after {
          content: "/";
          width: 1rem;
          height: 1rem;
          display: block;
          margin-left: 4px;
          font-size: 10px;
          text-align: center;
          opacity: 0.5;
        }

        &.left {
          justify-content: flex-start;
        }

        &.right {
          justify-content: flex-end;
        }

        &.centered {
          justify-content: center;
        }
      }

      & #music_time_elapsed,
      & #music_time_total {
        width: 3rem;
        height: 1rem;
        line-height: 1rem;
        display: flex;
        align-content: center;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1rem;
        color: rgb(var(--text-pallete-2nd));
      }
    }

    & .music_progress_bar {
      --radius: 50px;

      flex: 2 0;
      height: 10px;
      border-radius: var(--radius);
      background-color: rgba(var(--accent-color), 0.24);
      @include backdrop-filter(blur(8px));

      &:has(.with_pointer) {
        overflow: initial;
      }

      & .music_progress_bar_fill {
        border-radius: var(--radius);
        background-color: rgb(var(--accent-color));

        &.with_pointer::after {
          content: "";
          z-index: 2;
          width: 14px;
          height: 14px;
          display: block;
          border-radius: 100%;
          background-color: rgb(var(--accent-color));
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
          transform: translate(-50%, -50%);
          position: absolute;
          left: 100%;
          top: 50%;
        }
      }
    }
  }

  & .player_features {
    flex: 1 0;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    &:empty {
      position: absolute;
      inset: 0;
    }

    & .feature {
      flex: 1 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:empty {
        position: absolute;
        inset: 0;
      }
    }

    .player_equalizer {
      width: 100%;
      height: 20px;
      overflow-x: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2px;
      padding: 0 2px;
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;

      &:empty {
        position: absolute;
        inset: 0;
      }

      &.left {
        justify-content: flex-start;
      }

      &.right {
        justify-content: flex-end;
      }

      & .waveform {
        flex: 0 0 4px;
        height: 1rem;
        display: block;
        border-radius: 50px;
        background-color: rgb(var(--text-color));
        box-shadow: 0 0 1px 0 rgb(var(--text-color));
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition: transform 1s ease-in-out;
        transform: scaleY(0.4);

        @for $i from 0 through 40 {
          &:nth-child(#{$i}) {
            animation-duration: 1s + (math.random(600) * 1ms);
          }
        }
      }
    }
  }
}

/* Compact ------------------------------------------ */
.music_player_compact {
  max-width: calc(62vw - #{calc($size * var(--scale))});
  height: calc(100vh - #{$size});
  max-height: #{calc($size * 0.6)};
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border-radius: 100px;
  background-color: rgba(var(--background-color), 0.9);
  color: rgb(var(--text-color));
  @include backdrop-filter(blur(8px));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 6px 6px 2px 0 rgba(0, 0, 0, 0.6);
  position: relative;

  & #music_title,
  & #music_artist {
    height: auto;
    font-style: italic;
  }

  &.ultra {
    height: #{calc($size * 0.3)};
    max-height: #{calc($size * 0.3)};

    & .music_infos {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    & .music_platform_icon {
      left: initial;
      right: 8px;
      top: 8px;
    }
  }

  &.no_shadow {
    box-shadow: 0 0 0 0 transparent;
  }

  &.square {
    border-radius: $radius;

    & .music_progress_bar .music_progress_bar_fill {
      border-radius: #{$radius / 2};
    }
  }

  & .music_platform_icon {
    left: initial;
    right: 1rem;
    top: 1rem;
  }

  & .music_progress_bar {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    inset: 0;
    left: 0;
    top: 0;

    & .music_progress_bar_fill {
      filter: opacity(0.1);
      border-radius: 100px;
    }
  }

  & .music_infos {
    flex: 1 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 6px;
    padding: 0 2rem;

    & #music_title {
      letter-spacing: 2px;
    }

    & #music_artist {
      font-size: 1rem;
    }
  }

  &:not(.ultra) .music_infos {
    flex-direction: column;
  }
}
