@import "functions.scss";
@import "reset.scss";

/* ********************************************************
    Variables
******************************************************** */
$fonts: -apple-system, BlinkMacSystemFont, Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;

$light-color: #fafafa;
$light-pallete-1st: #dfdfdf;
$light-pallete-2nd: #c9c9c9;
$light-pallete-3rd: #b1b1b1;
$light-pallete-4th: #9f9f9f;

$dark-color: #0a0a0a;
$dark-pallete-1st: #131313;
$dark-pallete-2nd: #202020;
$dark-pallete-3rd: #313131;
$dark-pallete-4th: #4f4f4f;

$rate-good: #1daf4e;
$rate-medium: #f6b828;
$rate-bad: #ed213c;

$border-radius: 10px;

/* ********************************************************
    Base
******************************************************** */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #{$light-pallete-1st};
        --foreground-color: #{$light-color};
                
        --font-primary-color: #{$dark-pallete-1st};
        --font-secondary-color: #{$dark-pallete-2nd};
        --font-tertiary-color: #{$dark-pallete-3rd};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #{$dark-pallete-1st};
        --foreground-color: #{$dark-pallete-2nd};
                    
        --font-primary-color: #{$light-pallete-1st};
        --font-secondary-color: #{$light-pallete-2nd};
        --font-tertiary-color: #{$light-pallete-3rd};
    }
}

:root {
    --info-color: #0284c7;
    --warning-color: #f97316;
    --danger-color: #dc2626;
    --success-color: #16a34a;

    --amazon-color: #0077C1;
    --apple-color: #fc3c44;
    --spotify-color: #1db954;
    --youtube-color: #FF0033;
}

html {
    -webkit-tap-highlight-color: transparent;
    @include text-size-adjust(100%);
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-color); 
    font-family: $fonts;
    color: var(--font-primary-color);
    @include transition(all 180ms cubic-bezier(.4,0,.2,1));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;


    &::-webkit-scrollbar {
        width: .5rem;
        background-color: var(--background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--font-primary-color);
    }
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.content {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    @include border-radius($border-radius);
    overflow: hidden;
    background-color: var(--foreground-color);
    white-space: normal;
    word-wrap: break-word;
    color: var(--font-primary-color);
    @include box-shadow(0 0 4px rgba(0,0,0,.5));
    @include transform(translateY(50%));

    .btn {
        @include display-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        @include border-radius($border-radius);
        background-color: var(--background-color);
        letter-spacing: 1px;
        font-weight: 600;
        color: $light-color;
        text-transform: uppercase;
        @include user-select(none);

        &.ytm { background-color: var(--youtube-color) }
    }
}

.alert {
    width: calc(100% - 4rem);
    display: block;
    margin: 1rem;
    padding: 1rem 2rem;
    @include border-radius($border-radius);
    background-color: var(--info-color);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
    color: $light-color;
    text-align: center;
    @include user-select(none);

    &.warning { background-color: var(--warning-color) }
    &.error { background-color: var(--danger-color) }
}
    