@use "functions.scss" as *;
@use "reset.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* ********************************************************
    Animations
******************************************************** */
@include keyframes(waveform) {
	0%,
	100% {
		@include transform(scaleY(0.4));
	}
	50% {
		@include transform(scaleY(1.2));
	}
}

@include keyframes(dots) {
	0%,
	20% {
		content: ".";
	}
	40% {
		content: "..";
	}
	60% {
		content: "...";
	}
	90%,
	100% {
		content: "";
	}
}

@include keyframes(fade-in) {
	0% {
		@include filter(opacity(0.1));
	}
	100% {
		@include filter(inherit);
	}
}

/* ********************************************************
    Variables
******************************************************** */
$fonts: -apple-system, BlinkMacSystemFont, 'Noto Sans Display', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif;
$size: 8rem !default;
$radius: 10px !default;
$bg-color: #0d0d0f !default;
$font-color: #f1eaea !default;

/* ********************************************************
    Base
******************************************************** */
.loading {
	min-width: $size;
	display: block;

	&::after {
		content: "";
		min-width: 3rem;
		display: inline-block;
		@include animation(dots 2s linear infinite);
	}
}

.container {
	width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	@include display-flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	font-family: $fonts !important;
	font-weight: 800;
	font-size: 24px;
	color: #0d0d0f;
	text-transform: uppercase;
	@include transform(scale(2));
	@include user-select(none);
}

.music_album_blur_container:not(.hidden) {
	@include animation-name(fade-in);
	@include animation-duration(300ms);
	@include animation-iteration-count(1);

	& .music_album_art {
		z-index: -1;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include filter(blur(10px) brightness(33%) opacity(0.9));
		@include transform(translate(-50%, -50%) scale(2));
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

#music_title,
#music_artist {
	display: block;
	line-height: 1;
	white-space: nowrap !important;
	@include animation-name(fade-in);
	@include animation-duration(300ms);
	@include animation-iteration-count(1);
	@include transition(transform 1s linear);
}

.music_info_mask {
	width: 100%;
	display: block;
	padding: 4px 0;
	overflow: hidden;
	@include mask-image(linear-gradient(90deg, transparent 0%, white 2px, white calc(100% - 2rem), transparent 100%));
	text-overflow: ellipsis;
}

.music_progress_bar {
	& > * {
		width: 0%;
		min-width: 0%;
		max-width: 100%;
		height: 100%;
		display: block;
		background-color: $font-color;
		@include transition(all 500ms linear);
	}
}

.music_waveforms {
	width: 100%;
	height: 1.25rem;
	@include display-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;

	& .waveform {
		flex: 0 0 4px;
		height: 1rem;
		display: block;
		@include border-radius(50px);
		background-color: $font-color;
		@include box-shadow(0 0 1px 0 $font-color);
		@include animation-timing-function(ease-in-out);
		@include animation-iteration-count(infinite);
		@include transition(all 1s ease-in-out);
		@include transform(scaleY(0.4));

		@for $i from 0 through 42 {
			&:nth-child(#{$i}) {
				@include animation-duration(1s);
				@include animation-delay(($i * 0.1s));
			}
		}

		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

/* ********************************************************
    Player
******************************************************** */
.music_player,
.music_player_compact {
	pointer-events: none;
	width: calc(100% - #{$size});
	height: 100%;
	font-size: 1rem;
	text-transform: initial;
	@include user-select(none);
	@include transition(filter 200ms ease);

	&:not(.show) {
		@include filter(opacity(0));
	}

	&.show {
		@include filter(opacity(1));

		&.paused {
			@include filter(opacity(.8) contrast(.6));
		}
	}
}

.music_player {
	max-width: calc(#{$size} * 4);
	max-height: $size;
	@include display-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;

	&:not(.paused) .waveform {
		@include animation-name(waveform);
	}

	&.no_shadow {
		& .music_album_art,
		& .music_infos {
			@include box-shadow(0 0 0 0 transparent);
		}
	}

	&.square {
		& .music_cover,
		& .music_infos {
			@include border-radius(2px);
		}
	}

	& .music_album_art,
	& .music_infos {
		@include border-radius($radius);
		background-color: rgba($bg-color, 0.9);
		color: $font-color;
		@include backdrop-filter(blur(8px));
		@include box-shadow(6px 6px 2px 0 rgba(0, 0, 0, 0.6));
	}

	& .music_album_art {
		flex: 1 0 $size;
		display: block;
		overflow: hidden;
		margin-right: 1rem;

		& > figure {
			height: 0;
			padding-top: 100%;
			overflow: hidden;
			position: relative;

			& > img {
				width: 100%;
				height: 100%;
				display: block;
				@include object-fit(cover);
				@include animation-name(fade-in);
				@include animation-duration(300ms);
				@include animation-fill-mode(both);
				@include animation-iteration-count(1);
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}

	& .music_infos {
		flex: 2 0 calc(100% - (#{$size} - 1rem));
		max-height: $size;
		@include display-flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-around;
		overflow: hidden;
		padding: 1rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
		position: relative;

		& #music_title {
			letter-spacing: 1px;
			font-weight: 600;
			font-size: 1.25rem;
		}

		& #music_artist {
			font-weight: 500;
			font-size: 1.2rem;
		}

		& .music_progress {
			width: 100%;
			display: block;

			& .music_progress_values {
				@include display-flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 8px 0;
			}

			& .music_progress_bar {
				height: 10px;
				overflow: hidden;
				@include border-radius(50px);
				background-color: rgba($font-color, 0.24);
				@include backdrop-filter(blur(8px));

				& > * {
					@include border-radius(50px);
				}
			}

			& #music_time_elapsed,
			& #music_time_total {
				flex: 1 0 3rem;
				height: 1rem;
				line-height: 1rem;
				display: block;
				letter-spacing: 2px;
				font-weight: 400;
				font-size: 1rem;
			}

			& #music_time_elapsed {
				text-align: left;
				margin-right: 5px;
			}
			& #music_time_total {
				text-align: right;
				margin-left: 5px;
			}
		}
	}
}

/* ********************************************************
    Compact Player
******************************************************** */
.music_player_compact {
	min-width: calc(#{$size} * 3);
	max-width: calc(60% - (#{$size} * 2));
	height: calc(1.25rem * 4 + 8px);
	overflow: hidden;
	@include border-radius(100px);
	background-color: rgba($bg-color, 0.9);
	color: $font-color;
	@include backdrop-filter(blur(8px));
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	@include box-shadow(6px 6px 2px 0 rgba(0, 0, 0, 0.6));
	position: relative;

	&.no_shadow {
		@include box-shadow(0 0 0 0 transparent);
	}

	&.square {
		@include border-radius($radius);
	}

	& .music_progress_bar {
		z-index: 0;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
		@include backdrop-filter(blur(8px));
		@include filter(opacity(0.1));
		position: absolute;
		left: 0;
		top: 0;

		& > * {
			@include border-radius(4px);
		}
	}

	& .music_infos {
		z-index: 2;
		width: 100%;
		height: 100%;
		@include display-flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-around;
		overflow: hidden;
		padding: 1rem 2rem;
		text-shadow: 1px 1px 1px rgba(0,0,0,.9);
		@include transform(translateX(-50%));
		position: absolute;
		left: 50%;
		top: 0;

		&.centered {
			& #music_title,
			& #music_artist {
				text-align: center;
			}
		}

		& #music_title {
			letter-spacing: 1px;
			font-weight: 600;
			font-size: 1.25rem;
		}

		& #music_artist {
			font-weight: 500;
			font-size: 1rem;
		}
	}
}
